# Virtual environments (do not push to git)
venv/
venv_tf/
env/
.env/
asme/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# macOS & system files
.DS_Store
*.swp
